<%= form_with(model: bin, local: true) do |form| %>
  <% if bin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bin.errors.count, "error") %> prohibited this bin from being saved:</h2>

      <ul>
      <% bin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name %>
  <%= form.text_field :diameter %>
  <%= form.text_field :total_height %>
  <%= form.text_field :height_to_center %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
